body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.Card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
