body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
  background-image: linear-gradient(to bottom right, black, #004173);
}

input{
  width: 130px;
  height: 30px;
  border-radius: 5px;
  border: solid #004173 2px;
}

button{
  background-color: green;
  color: greenyellow;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

button:hover{
  border-radius: 5px;
  border: solid greenyellow 2px;
  cursor: pointer;
}

.cardContainer {
  width: fit-content;
  position: relative;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContainer > p {
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  position: relative;
  width: 220px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-image: linear-gradient(to bottom right, black, #004173);
  border: 1px solid rgba(255, 255, 255, 0.089);
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card_empty{
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city {
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 1.2px;
  color: white;
 
}

.weather {
  font-weight: 500;
  font-size: 0.7em;
  letter-spacing: 1.2px;
  color: rgb(197, 197, 197);
}

.temp {
  font-size: 2rem;
  color: white;
}

.country{
  font-size: 1rem;
  color: white;
  font-weight: 900;
}

.minmaxContainer {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.min,
.max {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0px 20px;
  gap: 4px;
}

.max {
  align-items: flex-start;
  border-left: 2px solid white;
}

.maxHeading,
.minHeading {
  margin: 0;
  font-size: 0.9em;
  font-weight: 600;
  color: white;
}

.maxTemp,
.minTemp {
  margin: 0;
  font-size: 2em;
  font-weight: 500;
  color: rgb(197, 197, 197);
}


